<%= form_for(datum) do |f| %>
  <% if datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(datum.errors.count, "error") %> prohibited this datum from being saved:</h2>

      <ul>
      <% datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :component_uuid %>
    <%= f.text_field :component_uuid %>
  </div>

  <div class="field">
    <%= f.label :lat %>
    <%= f.text_field :lat %>
  </div>

  <div class="field">
    <%= f.label :lon %>
    <%= f.text_field :lon %>
  </div>

  <div class="field">
    <%= f.label :capability %>
    <%= f.text_field :capability %>
  </div>

  <div class="field">
    <%= f.label :attribute %>
    <%= f.text_field :attribute %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :unity %>
    <%= f.text_field :unity %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_area :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
